.welcome-message,
.settings {
  display: none;
}

.nsfw-icon {
  display: none;
  color: #d10023;
  border-radius: 3px;
  border: 1px solid;
  font-size: 10px;
  line-height: 14px;
  padding: 0 4px;
}

.hidden {
  display: none;
}

.settings {
  padding: 10px;

  span {
    padding-right: 10px;
  }

  label {
    color: #000;
    font-size: 14px;
  }

  .col-left,
  .col-right {
    height: 40px;
  }

  .col-right {
    text-align: right;
  }

  .form-group {
    margin: 0;

  }

  .welcome-message {
    margin: 2em 0;
  }
}

.main-navigation {
  bottom: 30px;
  height: 30px;
  position: absolute;
  text-align: center;
  width: 100%;

  i {
    cursor: pointer;
    font-size: 50px;
    padding: 0, 5em;
  }
}

footer {
  bottom: 10px;
  height: 10px;
  position: absolute;
}
